# Main path for all ARR apps:
ARRPATH=C:\Users\Ow3ndesu\Videos\Arr\  # in Windows it will be sth like ARRPATH=C:\myfolder\Arr\ # in Linux based systems ARRPATH=/media/Arr/

# Global Variables
PUID=1000
PGID=1000
TZ=Asia/Manila
WIREGUARD_PRIVATE_KEY=